In [33]:
import pandas as pd 
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 

import pickle

In [6]:
df = pd.read_csv('salary_data.csv' ,delimiter= ';')
df.head()

      ID        income  age gender  education_level
0  12182  86519.608537   45      M              2.0
1  81213  83085.864980   30      M              2.0
2   1996  82606.214973   22      M              2.0
3   9366  81551.229988   36      M              2.0
4   9733  79593.253224   51      M              1.0

In [10]:

df1 = df.copy()

enc = OrdinalEncoder() 


df1['gender'] = enc.fit_transform(df1[['gender']])

In [18]:
df1 = df1.dropna()

In [19]:
features = df1.drop(['income','ID'] , axis =1)
label = df1['income']

In [20]:
def splitted_data(features , label) : 
    x_train,x_test,y_train,y_test = train_test_split(features, label , test_size = 0.3)
    
    print(f"Shape of x_train : {x_train.shape}")
    print(f"Shape of y_train : {y_train.shape}")
    print(f"Shape of x_test : {x_test.shape}")
    print(f"Shape of y_test: {y_test.shape}")
    return x_train,x_test,y_train,y_test

x_train,x_test,y_train,y_test = splitted_data(features , label)

Shape of x_train : (69698, 3)
Shape of y_train : (69698,)
Shape of x_test : (29871, 3)
Shape of y_test: (29871,)

In [21]:
model = LinearRegression()

model.fit(x_train,y_train)

print("Model Trained.")

Model Trained.

In [22]:
model.coef_

array([ 515.62281387,  136.54421161, 2307.3030649 ])

In [23]:
model.intercept_

19454.175314236138

In [24]:
y_pred = model.predict(x_test) 

y_pred[:5]

array([46621.91846166, 35033.40474701, 42252.12414126, 37611.51881639,
       39021.8430464 ])

In [35]:
with open('salary_data_pickle_model' , 'wb') as f : 
    pickle.dump(model,f)

In [37]:
with open('salary_data_pickle_model' , 'rb') as f : 
    salary_model = pickle.load(f)